# Python files
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints

# Mac hidden files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Old data
/data/simulation/old_trait*/
/data/simulation/simple/old_*/
/data/simulation/trait/old_*/
/data/HIV2*/
/data/HIV/cr/
/data/HIV/output-*/
/figures/trait/
/figures/simple/
/figures/HIV-*/

try.ipynb
/src/*.m
