# Python files
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints

# Mac hidden files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Old data
/data/simulation/trait/cut/*/sequences/
/data/simulation/trait/cut/*/output/
/data/simulation/trait/cut/*/output_1/
/figures/trait*/
/figures/simple*/
try.ipynb
try.py
/src/*.m
