# Python files
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints
.vscode/
.github/

# Mac hidden files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Simulation figure files
/figures/trait/
/figures/simple*/
/figures/sigmoid/

# Large files
/data/HIV/rawdata/interdata_*.npz
/data/simulation/sigmoid/output/nsdt_sigmoid/
/data/simulation/sigmoid/output/nsdt_linear/
/data/simulation/sigmoid/output_const/nsdt/
/data/simulation/sigmoid/sequences/nsdt/
/data/simulation/sigmoid/sequences/nsdt_sigmoid/

# Old data
try.ipynb
try_boot.py

# reply
/data/simulation/*/old
/data/simulation/*/*.zip
/data/simulation/sigmoid-epi/
/data/simulation/sigmoid-r/


